<h1>Amazing CookBook</h1>
<h2>Recipes</h2>
<a href="/new">New Recipe</a>
<ul>
  <% if @recipes.empty? %>
    No recipes
  <% else %>
    <% @recipes.each_with_index do |recipe, index| %>
      <li>
        <a href=<%="/recipe/#{index}"%>><%= recipe.name %></a>
        <% if recipe.done? %>
          <i class="far fa-check-square"></i>
        <% else %>
          <a href=<%="/done/#{index}"%>><i class="far fa-square"></i></a>
        <% end %>
        <a href=<%="/delete/#{index}"%>><i class="far fa-trash-alt"></i></a>
      </li>
    <% end %>
  <% end %>
</ul>
