<h1>New Recipe</h1>
<h2>Enter Information:</h2>
<form method="POST" action="/new">
  <p>Title: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>Preperation Time (minutes): <input type="text" name="prep_time"></p>
  <input type="submit">
</form>
